body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
h1 {
  margin: 1em 1em;

}

/* ***************************************************** */
/*                   BLOCK LAYOUT STYLING                */
/* ***************************************************** */

.layout-block {
  background-color: #154655be;
  margin: 5em 1em;
  padding: 1em;
  padding-top: .5em;
  color: #FFFFFF;
  border-radius: 10px;
  /* box-shadow: 5px 5px #88888869; */
}
