body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url(./img/powerplug.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* background-color: #1e7055; */
}

h1 {
	margin: 1em 1em;
	/* color: #ffffff; */
}

/* ***************************************************** */
/*                   BLOCK LAYOUT STYLING                */
/* ***************************************************** */

.layout-block {
	background-color: #155540ce;
	margin: 5em 1em;
	padding: 1em;
	padding-top: 0.5em;
	color: #ffffff;
	border-radius: 10px;
	/* box-shadow: 5px 5px #88888869; */
}
